*{

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}

body{

  background-color: hsl(0, 0%, 95%);

  Font-size: 15px

}

main{

  width: 90%;

  margin: auto;

  display: flex;

  justify-content: center;

  align-items: center;

  height: 100vh;

  color: white;

}

.box{

  height: auto;

  max-height: 3000px;

  display: flex;

}

h1 {

  padding-top: 80px;

  padding-bottom: 50px;

  font-family: 'Big Shoulders Display', cursive;

}

p{

  padding-bottom: 80px;

  font-family: 'Lexend Deca', sans-serif;

  font-size: 16px;

  color: hsla(0, 0%, 100%, 0.75);

}

.first{

  background-color: darkorange;

  padding: 3.5em;

  width: 100%;

  border-top-left-radius: 5px;

  border-bottom-left-radius: 5px;

}

.second {

  background-color: #016972;

  padding: 3.5em;

  width: 100%;

}

.third {

  background-color: #00403F;

  padding: 3.5em;

  width: 100%;

  border-top-right-radius: 5px;

  border-bottom-right-radius: 5px;

}

button{

  background-color: transparent;

  color: hsl(0, 0%, 95%);

  font-size: 1em;

  padding: 0.3rem;

  border: 2px solid hsl(0, 0%, 95%);

  border-radius: 20px;

  cursor: pointer;

  margin-top: 70px;

  margin-left: 34px;

  width: 55%;

  height: 35px;

}

img{

  width: 50%;



}

